.profile__info {
    box-sizing: border-box;
        
    display: flex;
    flex-direction: column;

    max-width: 500px;
    min-width: 300px;
    gap: 16px;
}

@media (max-width: 800px) {
    .profile__info {
        max-width: calc(100% - 150px);
    }
}

@media (max-width: 500px) {
    .profile__info {
        max-width: 100%;
        text-align: center;
        align-items: center;
        gap: 12px;
    }
}