.popup__close-button {
    background-color: transparent;
    border: none;

    width: 32px;
    height: 32px;

    background: url(../../../images/closePopup.svg) center no-repeat;
    background-size: cover;

    position: absolute;
    top: -40px;
    right: -40px;
}

@media (max-width: 600px) {
    .popup__close-button {
        width: 20px;
        height: 20px;

        right: 0;
        top: -36px;
    }
}