.profile__about {
    font-size: 18px;

    max-width: calc(100% - 20px);

    /* Следующие 3 свойства взяты из задания и нужны для */
    /* скрытия лишнего текста при переполнении блока. */
    /* Если убрать white-space - текст будет переноситься на следующую строку, */
    /* на что мне было указано как на ошибку в первом ревью */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 22px;

    padding: 0;
    margin: 0;
}

@media (max-width: 1000px) {
    .profile__about {
        font-size: 14px;
        line-height: 17px;
    }
}