.profile__info-wrapper {
    box-sizing: border-box;
    
    max-width: 100%;
    min-width: 180px;

    display: flex;
    align-items: center;

    gap: 30px;
}

@media (max-width: 500px) {
    .profile__info-wrapper {
        flex-direction: column;
        gap: 26px;
    }
}