.popup__container_type_view {
    max-width: 75vw;
    max-height: 75vh;

    width: fit-content;

    padding: 0;

    background-color: transparent;
    border-radius: 0;

    box-shadow: none;

}

@media (max-width: 400px) {
    .popup__container_type_view {
        max-width: 240px;

    }
}