.header {
    box-sizing: border-box;

    display: flex;

    max-width: 880px;
    padding: 45px 0 41px;
    margin: 0 auto 40px;

    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media (max-width: 1000px) {
    .header {
        width: 88%;
    }
}

@media (max-width: 500px) {
    .header {
        width: 100%;
        padding: 28px 27px 31px;
    }
}