.form__input {
  box-sizing: border-box;
  
  width: 358px;
  
  padding: 0 0 13px;

  border: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent;

  color: #CCC;
  font-size: 14px;
  font-family: Inter;
}

@media (max-width: 400px) {
  .form__input {
    width: 100%;
  }
}